{% extends "page.html" %}

{% block subpage %}

<div class="container">
    {% include "banner.html" %}
</div>

<div class="container">
    {% include "cbase_box.html" %}
</div>

<style>
.col{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.col-wrap{
    overflow: hidden;
}
</style>
<div class="container">
    <div class="row col-wrap">
    <div class="span12">
        <div class="well span3 col">
          <h4>Shogun Features</h4>
          <strong>A large scale machine learning toolbox.<br></strong>
            <p>SHOGUN is designed for unified large-scale learning for a broad range of feature
            types and learning settings, like classification, regression, or explorative data analysis.</p>
            &nbsp;
            <p><a class="btn btn-info" href="/page/about/information/">More&raquo;</a></p>
        </div>
        <div class="well span3 col">
          <h4>Google Summer of Code</h4>
          <strong>Summer of Code 2013 was a huge success.<br></strong>
            <p>All our 8 students successfully passed GSoC 2013. Congratulations! Their code will be in the next release. Students  it has been a great pleasure! We look forward to continue working with you!</p>
          <p><a class="btn btn-info" href="/page/Events/gsoc2013/">More&raquo;</a></p>
        </div>
        <div class="well span3 col">
            {% include "whats_new.html" %}
        </div>
    </div>
    </div>
</div>

<hr>

<!-- http://bootsnipp.com/snippets/featured/thumbnail-carousel -->
<style>
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
    left: -8px;
    height: 20px;
    width: 20px;
    font-size: 20px;
    line-height: 16px;
    top: 70px;
}
.carousel-control.right {
    right: -8px;
}
/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
    background: #c0c0c0;
}
.carousel-indicators .active {
    background: #333333;
}
.carousel-inner {
    position:relative;
    right: -30px;
    top: 4px;
}
</style>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="well">
                <div id="NotebookCarousel" class="carousel slide">

                    <ol class="carousel-indicators">
                        <li data-target="#NotebookCarousel" data-slide-to="0" class="active"></li>
                        {% for notebookset in notebooks %}
                            {% if forloop.counter > 1 %}
                                <li data-target="#NotebookCarousel" data-slide-to="{{forloop.counter}}"></li>
                            {% endif %}
                        {% endfor %}
                     </ol>

                    <div class="carousel-inner">
                        {% for notebookset in notebooks %}
                            {% if forloop.counter == 1 %}
                                <div class="active item">
                            {% else %}
                                <div class="item">
                            {% endif %}

                            <div class="row-fluid">
                                {% load staticfiles %}
                                {% for notebook in notebookset %}
                                    <div class="span3">
                                        <a href="{{notebook.0|safe}}">
                                            <img src="{{notebook.1|safe}}" alt="" style="width:140px; height:105px"/>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#NotebookCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#NotebookCarousel" data-slide="next">&rsaquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

{% endblock %}
