{% extends "subpage.html" %}

    {% block content %}
                
            <!-- Perex -->
            <!--<div class="perex"><p>Description of this section.</p></div>-->
            <!-- /perex -->

            <!-- Write the list of articles -->
            {% for article in articles %}
                <dt><h4>
                    {{ article.updated_date }} -
                    {{ article.author }} - 
                    {{ article.mail }}</h4></dt>
                <p align="justify">
                    SHOGUN Release version {{ article.sg_ver }} ( libshogun {{ article.libshogun_ver }},
                        data {{ article.data_ver }}, parameter {{ article.param_ver }})

                    <br>

                    {{ article.content|safe }}</p><hr>
            {% endfor %}

    {% endblock %}