{% extends "page.html" %}

{% block subpage %}

<h2>
{% if parent_subpages %}
    {% for parent_subpage in parent_subpages %}
        {% ifequal parent_subpage.path current_parent.path  %}
            <strong>{{ parent_subpage.title }}</strong>
        {% endifequal %}
        {% ifequal parent_subpage.path current_parent.path %}
            {% for children_subpage in parent_subpage.children.all %}
                {% ifequal children_subpage.path current_subpage_path %}
                    <strong>{{ children_subpage.title }}</strong>
                {% endifequal %}
            {% endfor %}
        {% endifequal %}
    {% endfor %}
{% endif %}
</h2>

<div class="container">
    <div class="row">
        <div class="span8">
            <div class="well">
                {% block content %} {% endblock %}
            </div>
        </div>
        {% if news %}
            <div class="span4">
                <div class="well">
                    <h4>What´s New</h4>
                    <div class="ul-news">
                        <table>
                            {% for new in news %}
                            <tr><td><strong>{{ new.updated_date }}</strong></td><td><img src="/static/design/ico-arrow.gif" alt="->"/></td><td><a href="/new/{{ new.pk }}/"><font size=1>SHOGUN {{ new.sg_ver }}</font></a></td></tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
