{% extends "subpage.html" %}

    {% block subcategories %}

        <h1>{{ page }}</h1>
        
        <p id="subnav">
            <a href="/page/weblog/shogun">shogun</a> <span>|</span>
            <a href="/page/weblog/fernando">Fernando</a> <span>|</span>
            <a href="/page/weblog/juan">Juan<a> <span>|</span>
        </p>
    {% endblock %}

    {% block content %}

            <!-- Write the list of articles -->
            {% for article in articles %}
                <dt><h3>{{ article.title }}</h3></dt>
                <p align="justify">{{ article.content|safe }}</p><hr>
            {% endfor %}

    {% endblock %}